@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab);

@dark-color : #431C00;
@middle-color : #F1A771;
@light-color : #EFDCCE;
@complementary-dark-color : #003F38;
@complementary-middle-color : #46968E;
@complementary-light-color : #A2D3CD;

/***************************************************
 * Background & Basics
 ***************************************************/
html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcf8f4+87,efdcce+100,fcf8f4+100 */
  background: #fcf8f4; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcf8f4 87%, #efdcce 100%, #fcf8f4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcf8f4 87%,#efdcce 100%,#fcf8f4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcf8f4 87%,#efdcce 100%,#fcf8f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8f4', endColorstr='#fcf8f4',GradientType=0 ); /* IE6-9 */
  min-height: 100%;
}

body {
  @media only screen and (max-width: 850px) {
    padding-left : 0;
    padding-right : 0;
  }
  padding-left : 15vw;
  padding-right : 15vw;
  background: transparent;
  padding-top: 150px;
  min-height: 100%;
  background-position: left bottom;
}

/***************************************************
 * Alerts
 ***************************************************/
.alert {
  strong {
    display: none;
  }

  background-color: #EDF2F1;
  color: @complementary-dark-color;
  font-family: 'Roboto Slab', serif;
  border: none;
  border-radius: 0;
  -moz-box-shadow: 0px 0px 5px 1px @light-color;
  -webkit-box-shadow: 0px 0px 5px 1px @light-color;
  -o-box-shadow: 0px 0px 5px 1px @light-color;
  box-shadow: 0px 0px 5px 1px @light-color;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=@light-color, Direction=NaN, Strength=5);
}

/***************************************************
 * Title
 ***************************************************/
.page-header {
  font-family: 'Raleway', sans-serif;
  border-bottom-color: @middle-color;
  border-bottom-style: dotted;
  border-bottom-width: medium;

  h1 {
    margin-top : 75px;
    text-align: center;
    font-size: 30px;
    color: @middle-color;
    text-transform: capitalize;

  }
}

/***************************************************
 * Navbar
 ***************************************************/
.navbar {
  font-family: 'Raleway', sans-serif;
  background-color: @dark-color;

  .container-fluid {
    height: 100px;
    line-height: 100px;
  }

  .navbar-brand {
    height: 100px;
    line-height: 100px;
    color: @light-color;
    font-size: 30px;
    &:hover, &:after, &:before {
      color: @middle-color;
    }
  }

  .navbar-nav > .active > a {
    height: 100px;
    line-height: 100px;
    background-color: @dark-color;
    color: @light-color;
    text-transform: uppercase;

    &:hover, &:after, &:before {
      background-color: @light-color;
      color: @dark-color;

    }
  }


  .dropdown-toggle {
    height: 100px;
    line-height: 100px;
  }
}

/***************************************************
 * Canvas
 ***************************************************/
canvas {
  position: absolute;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/***************************************************
 * Jumbotron
 ***************************************************/
.jumbotron {
  background: transparent;
  text-align: center;
  margin-top: 250px;


  h1 {
    font-family: 'Raleway', sans-serif;
    font-size : 30pt;
    color: @complementary-middle-color;
    font-weight: 400;
  }

  p {
    font-family: 'Roboto Slab', serif;
    color : @complementary-light-color;
  }
}

/***************************************************
 * Buttons
 ***************************************************/

h2 {
  font-family: 'Raleway', sans-serif;
  border-bottom-color: @middle-color;
  border-bottom-style: dotted;
  border-bottom-width: medium;
  line-height: 70px;
  margin-top : 75px;
  text-align: center;
  font-size: 30px;
  color: @middle-color;
  text-transform: capitalize;

}

.btn-primary {
  margin : 0 auto;
  display: block;
  height: 65px;
  background-color: @complementary-light-color;
  border: none;
  color: @complementary-dark-color;
  -moz-box-shadow: 0px 0px 5px 1px @light-color;
  -webkit-box-shadow: 0px 0px 5px 1px @light-color;
  -o-box-shadow: 0px 0px 5px 1px @light-color;
  box-shadow: 0px 0px 5px 1px @light-color;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=@light-color, Direction=NaN, Strength=5);

  &:hover {
    background-color: @complementary-middle-color;
    color: white;
  }
}

/***************************************************
 * Map
 ***************************************************/
.map-helper {
  padding: 10px;

  background-color: #EDF2F1;
  color: @complementary-dark-color;
  font-family: 'Roboto Slab', serif;
  border: none;
  border-radius: 0;

}

#addevenemnt {
  height: 65px;
  background-color: @complementary-light-color;
  border: none;
  color: @complementary-dark-color;
  -moz-box-shadow: 0px 0px 5px 1px @light-color;
  -webkit-box-shadow: 0px 0px 5px 1px @light-color;
  -o-box-shadow: 0px 0px 5px 1px @light-color;
  box-shadow: 0px 0px 5px 1px @light-color;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=@light-color, Direction=NaN, Strength=5);

  &:hover {
    background-color: @complementary-middle-color;
    color: white;
  }
}

/***************************************************
 * Pannels
 ***************************************************/
.panel-primary {
  background-color: #EDF2F1;
  color: @complementary-dark-color;
  font-family: 'Roboto Slab', serif;
  border: none;
  border-radius: 0;
  border-color: @complementary-middle-color;
  -moz-box-shadow: 0px 0px 5px 1px @light-color;
  -webkit-box-shadow: 0px 0px 5px 1px @light-color;
  -o-box-shadow: 0px 0px 5px 1px @light-color;
  box-shadow: 0px 0px 5px 1px @light-color;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=@light-color, Direction=NaN, Strength=5);


  .panel-heading {
    background-color: transparent;
    color: @complementary-dark-color;
    border-bottom-color: @complementary-dark-color;
  }

  .panel-body {
  }
}