@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab);

@dark-color : #431C00;
@middle-color : #F1A771;
@light-color : #EFDCCE;
@complementary-dark-color : #003F38;
@complementary-middle-color : #46968E;
@complementary-light-color : #A2D3CD;

/***************************************************
 * Background & Basics
 ***************************************************/
html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcf8f4+87,efdcce+100,fcf8f4+100 */
  background: #fcf8f4; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcf8f4 87%, #efdcce 100%, #fcf8f4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcf8f4 87%,#efdcce 100%,#fcf8f4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcf8f4 87%,#efdcce 100%,#fcf8f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8f4', endColorstr='#fcf8f4',GradientType=0 ); /* IE6-9 */
  min-height: 100%;
}



body {
  background: transparent;
  margin-left : 15vw;
  margin-right : 15vw;
  padding-top: 150px;
  min-height: 100%;
  background-position: left bottom;
}


/***************************************************
 * Title
 ***************************************************/
.page-header {
  font-family: 'Raleway', sans-serif;
  border-bottom: none;

  h1 {
    font-size: 30px;
    color: @middle-color;
    text-transform: capitalize;

  }
}

/***************************************************
 * Navbar
 ***************************************************/
.navbar {
  font-family: 'Raleway', sans-serif;
  background-color: @dark-color;

  .container-fluid {
    height: 100px;
    line-height: 100px;
  }

  .navbar-brand {
    height: 100px;
    line-height: 100px;
    color: @light-color;
    font-size: 30px;
    &:hover, &:after, &:before {
      color: @middle-color;
    }
  }

  .navbar-nav > .active > a {
    height: 100px;
    line-height: 100px;
    background-color: @dark-color;
    color: @light-color;
    text-transform: uppercase;

    &:hover, &:after, &:before {
      background-color: @light-color;
      color: @dark-color;

    }
  }


  .dropdown-toggle {
    height: 100px;
    line-height: 100px;
  }
}

/***************************************************
 * Canvas
 ***************************************************/
canvas {
  position: absolute;
  top: 100px;
  left: 0px;
  z-index:0;
  width: 80%;
  height: 100px;
}

/***************************************************
 * Jumbotron
 ***************************************************/
.jumbotron {
  background: transparent;
  text-align: center;
  z-index: 99999;

  h1 {
    font-family: 'Raleway', sans-serif;
    font-size : 30pt;
    color: @complementary-middle-color;
    font-weight: 400;
  }

  p {
    font-family: 'Roboto Slab', serif;
    color : @complementary-light-color;
  }
}

/***************************************************
 * Forms
 ***************************************************/


/***************************************************
 * Map
 ***************************************************/